<mat-expansion-panel #panel class="so-footer rounded-none" disabled>
  <mat-expansion-panel-header class="cursor-default">
    <mat-panel-title>
      {{year}}, Softonix. All rights reserved. Reproduction in whole or part without permission is prohibited.
    </mat-panel-title>
    <mat-panel-description>
      <button class="absolute m-0 rounded-none" disableRipple (click)="panel.expanded ? panel.close() : panel.open()" mat-icon-button>
          <img [@rotate]="panel?.expanded" class="caret"  src="assets/img/arrow-caret.png" alt=">"/>
      </button>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="flex justify-between">
    <ul class="flex p-0 m-0 list-none">
      <li>Terms of Use</li>
      <li class="ml-2">|</li>
      <li class="ml-2">Privacy Policy</li>
      <li class="ml-2">|</li>
      <li class="ml-2">Customer Care</li>
    </ul>

    <div class="so-logo flex items-center">
      <img src="assets/img/logo-short.png" alt="logo">
      <h1 class="c-logo m-0 font-thin">Softonix</h1>
    </div>
  </div>
</mat-expansion-panel>
