<header class="so-header p-4 flex justify-between w-full" [class.dark-mode]="nightModeActive | async">
  <div class="logo-wrap cursor-pointer" [routerLink]="rootRoutes.home">
    <img src="./assets/img/logo.png" alt="logo"/>
  </div>
  <div>
    <button mat-raised-button [routerLink]="rootRoutes.login" color="primary">Login</button>
    <mat-slide-toggle
      class="ml-4"
      color="warn"
      [checked]="(nightModeActive | async)"
      (change)="switchNightMode($event)">
      Night mode
    </mat-slide-toggle>
  </div>
</header>
<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
