@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.so-header {
  background-color: $color-so-orange;

  &.dark-mode {
    background-color: $color-dark-header;
  }

  .logo-wrap img {
    max-width: pxToRem(150px);
  }

}
