@import "./../../../assets/styles/mixins";
@import "./../../../assets/styles/variables";

section {
  display: table;
  border: pxToRem(1px) solid $color-gray;
  border-radius: $border-radius-global;
}

.time-wrap {
  border: pxToRem(1px) solid $color-black;
  border-radius: $border-radius-global;
}
