<ul>This app is created with using last versioned technologies:
  <li>Angular</li>
  <li>RxJS - reactive programing library</li>
  <li>NGXS - state manager</li>
  <li>Angular Material - UI components library</li>
  <li>Jasmine - unit tests</li>
</ul>
<div class="time-wrap p-4 mb-2 mt-2 max-w-fit">
  <p>Today is {{date | date}}</p>
  <p>Or if you prefer, {{date | date:'fullDate'}}</p>
  <p>The time is {{date | date:'h:mm a z'}}</p>
</div>
<section class="p-4">
  Angular material default color palette. It has 4 palettes (2 dark and 2 light)
  <div class="mt-1">
    <button class="mr-2" mat-raised-button>Basic</button>
    <button class="mr-2" mat-raised-button color="primary">Primary</button>
    <button class="mr-2" mat-raised-button color="accent">Accent</button>
    <button class="mr-2" mat-raised-button color="warn">Warn</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
