@import '../assets/styles/variables';

// Local vars
$body-bg: #f4f7fa;

.main-body {
  background-color: $body-bg;

  &.dark {
    background-color: $color-dark-bg;
    color: $color-white;

    so-footer {
      border-top: pxToRem(1px) solid $color-brown;
    }
  }
}
