// project font size
$global-font-size: 12px;

// colors
$color-so-orange: #ffd7aa;
$color-gray: #4c4b4c;
$color-dark-header: #874b2d;
$color-dark-bg: #525559;
$color-white: #ffffff;

// border-radius
$border-radius-global: 0.5rem;
